@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&family=Roboto:wght@100;500&family=Zen+Dots&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Zen Dots", cursive;
  background-color: #060b26;
  color: #fff;
}
